@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');



body {
    background-color: lightseagreen;
    font-family: Roboto Light;

}

#container{
    display: flex;
    justify-content: space-around;
}

.editMovie{
    border: 2px solid darkblue;
    padding: 15px;
    border-radius: 5px;
    background: darkorchid;
}


.postMovie{
    border: 2px solid darkblue;
    padding: 15px;
    border-radius: 5px;
    background: darkorchid;
}

.searchMovie{
    border: 2px solid darkblue;
    padding: 15px;
    border-radius: 5px;
    background: darkorchid;
}


.rightSide {
    float: right;
}


.textBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}




.posters{
    padding: 10px 20px;
    margin: 10px;
    width: 340px;
    height: auto;
    border-radius: 5px;
    background-color: darkorchid;
}





/*.row {*/
/*    margin-right: 0!important;*/
/*}*/
/*.grow {*/
/*    transition: all .3s ease-in-out;*/
/*}*/
/*.grow:hover {*/
/*    transform: scale(1.05);*/
/*}*/
/*.title {*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/
/*img {*/
/*    width: 300px;*/
/*    height: 400px;*/
/*    padding-right: 5px;*/
/*}*/
/*.underImgContainer {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
/*.rating {*/
/*    flex-direction: column;*/
/*}*/
/*.director {*/
/*    flex-direction: column;*/
/*}*/
/*.genre {*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*}*/
/*.description {*/
/*    padding: 12px;*/
/*    font-size: 110%;*/

/*}*/
/*.hidden1 {*/
/*    display: none;*/
/*}*/
/*.rightSide {*/
/*    float: right;*/
/*}*/

/*.btn {*/
/*    margin: 10px;*/
/*    background-color: #09090a;*/
/*    color: whitesmoke;*/
/*}*/
/*.textBox {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

/*.select {*/
/*    padding: 0 10px;*/
/*    height: 38px;*/
/*}*/
/*.deleteGroup {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*#delete-movie {*/
/*    margin: 0;*/
/*    background-color: rgb(203, 68, 74);*/
/*}*/
/*.icon-info {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    margin-top: 20px;*/
/*    padding-right: 10px;*/
/*}*/
/*i {*/
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
/*}*/



/*@keyframes animatedgradient {*/
/*    0% {*/
/*        background-position: 0 100%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/



