@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');



body {
    background-color: lightseagreen;
    font-family: Roboto Light;

}

#container{
    display: flex;
    justify-content: space-around;
}

.editMovie, .deleteGroup{
    border: 2px solid mediumpurple;
    padding: 3em;
    border-radius: 1em;
    background: lavender;
}
.posters{
    padding: 5em 10em;
    margin: 5em;
    width: 10em;
    height: auto;
    border: 2em;
    background-color: mediumpurple;
}
.card:hover {

    border: 5px mediumpurple solid;
}


footer button:hover{
    background-color: red;
}

/*@keyframes animatedgradient {*/
/*    0% {*/
/*        background-position: 0 100%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/